# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

terraform.tfvars

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Archivos de estado de Terraform
*.tfstate
*.tfstate.*

# Archivos de backup generados por Terraform
*.backup

# Directorio de configuración local de Terraform
.terraform/

# Archivos de log de Terraform
crash.log
*.log

# Planes de ejecución de Terraform
*.tfplan

# Archivos de variables sensibles
*.tfvars
*.tfvars.json
*.txt